@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* 

font-family: 'Righteous', cursive;

*/

/* ----- Reset ----- */
* {
   margin: 0;
   color: white;
   padding: 0;
   font-size: 100%;
   border: none;
   outline: none;
   font-weight: 300;
   font-family: 'sarala' sans-serif;
   }
   
   body {
   background-image: url("/img/back.jpg");
	background-size: cover;
	background-position: center;
   }
   
   a {
   text-decoration: none;
   }
   
   ul {
   list-style: none;
   }
   
   img {
   max-width: 100%;
   }

   header {
      background: #00000093;
   }

   main {
      background: #00000093;
      width: 100vw;
      height: 100vh;
   }

   .logopage {
      width: 170px;
      padding-top: 20px;
      padding-left: 40px;
   }

   .login-box {
      border-radius: 20px;
      margin: auto;
      width: 350px;
      height: 520px;
      padding: 50px;
      background-color: #000000bb;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
      text-align: center;
    }

    .entrar{
      font-family: 'Righteous', cursive;
      padding-left: 15px;
      float: left;
      color: white;
      font-size: 2em;
      font-weight: 200;
      padding-bottom: 30px;
    }

    input[type="email"],
    input[type="password"] {
      color: black;
      width: 90%;
      padding: 10px;
      margin-bottom: 1.8rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 14px;
      transition: 0.3s ease-in-out;
    }

    input[type="email"]:hover,
    input[type="password"]:hover {
      background: #ffffffd0;
    }

    input[type="submit"] {
      background-color: #c90000;
      width: 90%;
      color: #ffffff;
      border: none;
      padding: 10px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }
    input[type="submit"]:hover {
      background-color: #680000;
    }

    .checkbox {
      color: #ffffff;
      margin-left: 1rem;
      margin-top: 1.2rem;
      float: left;
    }

    .lembre {
      color: #a7a6a6;
      font-size: 12px;
      margin-top: 1.2rem;
      margin-left: 7px;
      float: left;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 2px solid #ccc;
      width: 15px;
      height: 15px;
      background: #dbdbdb; /* altere a cor de fundo para cinza */
      outline: none;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }

    input[type="checkbox"]:hover {
      background: rgb(138, 137, 137);
    }
    
    input[type="checkbox"]:checked {
      background: hsl(0, 99%, 36%); /* altere a cor de fundo para cinza escuro quando a caixa estiver marcada */
    }

    .ajuda {
      color: #a7a6a6;
      font-size: 14px;
      margin-top: 1.1rem;
      margin-right: 15px;
      float: right;
      transition: 0.2s ease-in-out;
    }

    .ajuda:hover {
      text-decoration: underline;
      color: #5a5a5a;
    }

    .novoaqui {
      font-size: 17px;
      color: #a7a6a6;
      padding-top: 50px;
      padding-left: 20px;
      float: left;
    }

    .assine {
      color: white;
      transition: 0.2s ease-in-out;
    }

    .assine:hover {
      color: #c90000;
      text-decoration: underline;
    }

    #protegido {
      color: #868686;
      font-size: 14px;
      padding-top: 85px;
    }

    #saiba {
      color: rgb(0, 102, 255);
      cursor: pointer;
      font-size: 14px;
      transition: 0.2s ease-in-out;
    }

    #saiba:hover {
      text-decoration: underline;
      color: #0b3677;
    }

    .rodape {
      padding-top: 50px;
      width: 100vw;
      height: 130px;
      padding: 25px;
      background-color: #000000d7;
    }

    .duvidas {
      color: #919191;
      font-size: 17px;
      padding-bottom: 30px;
    }

   .ligue {
      font-size: 17px;
      color: #919191;
      transition: 0.2s ease-in-out;
   }

   .ligue:hover {
      text-decoration: underline;
      color: #5a5a5a;
   }

   .list-rodape1,.list-rodape2,.list-rodape3,.list-rodape4 {
      font-size: 20px;
      color: #a5a4a4;
      padding-right: 50px;
      padding-bottom: 20px;
      transition: 0.2s ease-in-out;
   }

   .list-rodape5 {
      font-size: 20px;
      color: #a5a4a4;
      padding-right: 30px;
      padding-bottom: 20px;
      transition: 0.2s ease-in-out;
   }

   .list-rodape6 {
      font-size: 20px;
      color: #a5a4a4;
      padding-right: 20px;
      padding-bottom: 20px;
      transition: 0.2s ease-in-out;
   }

   .list-rodape1:hover,.list-rodape2:hover,
   .list-rodape3:hover,.list-rodape4:hover,
   .list-rodape5:hover,.list-rodape6:hover {

      color: #5a5a5a;
      cursor: pointer;
   }



   

    
